.footer {
  background: #003399;
  color: white;
  padding: 60px 20px 20px;
  margin-top: 60px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 40px;
}

.footer-box h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color:aliceblue
}

.footer-box h3 {
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.footer-box p {
  opacity: 0.9;
  line-height: 1.7;
  font-size: 0.95rem;
}

.footer-box a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 8px 0;
  opacity: 0.85;
  transition: 0.3s;
}

.footer-box a:hover {
  opacity: 1;
  transform: translateX(6px);
}

.footer-bottom {
  margin-top: 40px;
  text-align: center;
  padding-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 14px;
  opacity: 0.8;
}