/* ===== About Page ===== */

.about-page {
  min-height: 100vh;
  background: #f8fafc;
  font-family: "Poppins", sans-serif;
}

/* ===== Header ===== */

.about-header {
  height: 55vh;

  background:
    linear-gradient(
      rgba(15, 23, 42, 0.85),
      rgba(30, 41, 59, 0.85)
    ),
    url("../assets/Coding.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;
  padding: 20px;
}
/* 
logo section */

.logo-section {
  position: fixed;
  top: 20px;
  left: 70px;      
  z-index: 1000;
}

.contact-logo {
  width: 120px;
  height: auto;
  display: block;
}

.about-header h1 {
  font-size: 3.5rem;
  margin-bottom: 15px;
  font-weight: 700;
}

.about-header p {
  max-width: 800px;
  font-size: 1.2rem;
  line-height: 1.8;
  color: #cbd5e1;
}

/* ===== Content ===== */

.about-content {
  max-width: 1000px;
  margin: -0px auto 60px;
  padding: 0 20px;
  position: relative;
  z-index: 10;
}

/* ===== Cards ===== */

.about-section {
  background: white;
  border-radius: 20px;
  padding: 40px;
  margin-bottom: 20px;

  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.08);

  transition: 0.3s;
}

.about-section:hover {
  transform: translateY(-5px);
}

.about-section h2 {
  text-align: center;
  color: #2563eb;
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-section p {
  text-align: center;
  color: #475569;
  line-height: 1.3;
  font-size: 1.05rem;
}

/* ===== Course Grid ===== */

.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin-top: 30px;
}

/* ===== Course Cards ===== */

.course-card {
  background: linear-gradient(
    135deg,
    #2563eb,
    #1e40af
  );

  color: white;
  text-decoration: none;

  padding: 30px;
  border-radius: 15px;
  text-align: center;

  font-size: 1.1rem;
  font-weight: 600;

  transition: all 0.4s ease;

  box-shadow:
    0 8px 20px rgba(37, 99, 235, 0.25);
}

.course-card:hover {
  transform: translateY(-10px);
  box-shadow:
    0 15px 30px rgba(37, 99, 235, 0.35);
}

/* ===== Feature Section ===== */

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin-top: 30px;
}

.feature-card {
  background: #f8fafc;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  border-top: 4px solid #2563eb;
}

.feature-card h3 {
  color: #1e293b;
  margin-bottom: 10px;
}

.feature-card p {
  color: #64748b;
}

/* ===== Responsive ===== */

@media (max-width: 768px) {
  .about-header {
    height: 45vh;
  }

  .about-header h1 {
    font-size: 2.3rem;
  }

  .about-header p {
    font-size: 1rem;
  }

  .about-section {
    padding: 25px;
  }
}

@media (max-width: 480px) {
  .about-header h1 {
    font-size: 1.8rem;
  }
}