/* Programs Section */
.programs-section {
  padding: 80px 20px;
  background: #f8fafc;
}

/* Main Container with Background */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 60px 40px;

  background:
    linear-gradient(
      rgba(10, 15, 30, 0.75),
      rgba(10, 15, 30, 0.75)
    ),
    url("../assets/courses.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  color: white;
}
/* Title */
.programs-section h2 {
  text-align: center;
  font-size: 2.8rem;
  color: #040404;
  margin-bottom: 15px;
}

.logo-section {
  position: fixed;
  top: 20px;
  left: 70px;      
  z-index: 1000;
}

.contact-logo {
  width: 120px;
  height: auto;
  display: block;
}

.programs-subtitle {
  text-align: center;
  max-width: 750px;
  margin: 0 auto 50px;

  font-size: 1.15rem;
  line-height: 1.9;

  color: #ffffff;
  padding: 12px 20px;
  border-radius: 10px;
}
/* Cards Grid */
.program-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* Card Design */
.program-card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  border-top: 5px solid #2563eb;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.program-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(37, 99, 235, 0.15);
}

.program-card h3 {
  color: #2563eb;
  margin-bottom: 15px;
  font-size: 1.4rem;
}

.program-card p {
  color: #475569;
  line-height: 1.8;
  text-align: justify;
}

/* Tablet */
@media (max-width: 992px) {
  .program-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .programs-section h2 {
    font-size: 2.2rem;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .container {
    padding: 40px 25px;
  }

  .program-cards {
    grid-template-columns: 1fr;
  }

  .programs-section h2 {
    font-size: 1.8rem;
  }

  .programs-subtitle {
    font-size: 1rem;
  }
}